/* ESTILOS DEL MAIN */
main {
    width: min(70ch, 100% - 4rem);
    margin-inline: auto;
    color: #4e2121;
}
main h1 {
    margin-top: 20px;
}
main p {
    text-align: justify;
}
/* ESTILOS DEL SECTION DEL MAIN */
section {
    margin: 30px 0;
}
section:nth-child(2) {
    margin-top: 0;
}
section ul {
    margin-left: 20px;
}
section ul li {
    margin-bottom: 20px;
}
section ul li img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top: 20px;
}
section h2 {
    color: #4e2121;
    margin-bottom: 5px;
}

