{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desserts - Colecciones destacables</title>
    <link rel="icon" href="/PIA/static/images/logo.png" />
    <link rel="stylesheet" href="{% static 'css/colecciones.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    {% include 'header.html' %}

    <main>
      <h1>Colecciones Destacadas</h1>
      <p>
        ¡Bienvenido a nuestra selección de colecciones destacadas de postres!
        Aquí encontrarás una amplia variedad de deliciosos postres que te
        dejarán con ganas de más. <br />
        Nuestro equipo de pasteleros expertos trabaja diligentemente para crear
        cada postre, utilizando solo los ingredientes más frescos y de alta
        calidad. Nos esforzamos por ofrecerte la mejor experiencia de postres
        posible, desde el momento en que entras por la puerta hasta el momento
        en que te das el último bocado. <br />
        ¿Por qué conformarse con postres ordinarios cuando puedes tener algo
        excepcional? Explora nuestra selección de colecciones destacadas de
        postres y déjanos tentarte con nuestras deliciosas creaciones. ¡Estamos
        seguros de que encontrarás algo que te hará regresar por más!
      </p>
      <section>
        <article>
          <img src="{% static 'images/pastel.jpg' %}" alt="" />
          <p>
            Pasteles de fiesta <br />
            <strong>30 items</strong>
          </p>
        </article>
        <article>
          <img src="{% static 'images/pan.jpg' %}" alt="" />
          <p>
            Panadería <br />
            <strong>26 items</strong>
          </p>
        </article>
        <article>
          <img src="{% static 'images/evento.jpg' %}" alt="" />
          <p>
            Bodas y XV años <br />
            <strong>19 items</strong>
          </p>
        </article>
        <article>
          <img src="{% static 'images/temporada.jpg' %}" alt="" />
          <p>
            Temporada <br />
            <strong>6 items</strong>
          </p>
        </article>
      </section>
    </main>

    {% include 'footer.html' %}

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
