{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desserts - Contacto</title>
    <link rel="stylesheet" href="{% static 'css/contacto.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    {% include 'header.html' %}

    <main>
      <h1>Contacto</h1>
      <section>
        <p>
          En nuestra sucursal nos gustaría saber tu opinión sobre nuestros
          servicios y productos, estaremos encantados de responder todas tus
          dudas. <br />
          AV. LAS AMÉRICAS #1601, COL. CONTRY SOL, GUADALUPE, N.L. SERVICIO A
          DOMICILIO 8181914000 o whatsapp 8125064894. <br />
          LUN–VIE. (9:00-20:00) <br />
          SÁB. (9:00–21:00) <br />
          DOM. (10:00–19:00)
        </p>
      </section>

      <section>
        <h2>Servicio a domicilio</h2>
        <p>81914000</p>
      </section>

      <section>
        <h2>Ubicaciones</h2>
        <ul>
          <li>
            <h4>Las Américas</h4>
            <p>
              Av. Las Américas #1601, Col. Contry Sol, Guadalupe, Nuevo León.
              <br />
              Tel. (81)81-34-22-60 <br />
              Lun–Sáb. (8:30-21:00) <br />
              Dom. (10:00–20:00)
            </p>
            <img src="{% static 'images/instalacion1.jpg' %}" alt="" />
          </li>
          <li>
            <h4>Carretera Nacional</h4>
            <p>
              Plaza Palmares Sur, Carretera Nacional #900 KM. 206, Monterrey,
              Nuevo León. <br />
              Tel. (81)82-18-90-61 <br />
              Lun–Sáb (8:30-21:00) <br />
              Dom. (10:00–20:00)
            </p>
            <img src="{% static 'images/instalacion6.jpg' %}" alt="" />
          </li>
          <li>
            <h4>Garza Sada (Pastelería-Cafetería)</h4>
            <p>
              Plaza PH1, Av. Garza Sada #3720, Col. Villa Los Pinos, Monterrey,
              Nuevo León. <br />
              Tel. (81)83-49-90-23 <br />
              Lun–Sáb. (8:30-20:00) <br />
              Dom. (10:00–21:00)
            </p>
            <img src="{% static 'images/instalacion3.jpg' %}" alt="" />
          </li>
          <li>
            <h4>Cumbres Park Point</h4>
            <p>
              Plaza Park Point, Av. Paseo de los Leones #99 en Cumbres Elite,
              Monterrey, Nuevo León. <br />
              Tel. (81)13-39-43-90 <br />
              Lun–Sáb. (8:30-21:00)Dom. (10:00–20:00)
            </p>
            <img src="{% static 'images/instalacion2.jpg' %}" alt="" />
          </li>
          <li>
            <h4>Cumbres</h4>
            <p>
              Plaza Altezza, Av. Paseo De Los Leones #2016, Cumbres 2do. sector,
              Monterrey, Nuevo León. <br />
              Tel. (81)80-40-94-04 <br />
              Lun–Sáb. (8:30-21:00) <br />
              Dom. (10:00–20:00)
            </p>
            <img src="{% static 'images/instalacion5.jpg' %}" alt="" />
          </li>
        </ul>
      </section>
    </main>

    {% include 'footer.html' %}

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
