<!-- footer.html -->
<footer>
  <address>
    <h4>
      Hecho por alumnos de la
      <abbr title="Universidad Autónoma de Nuevo León">UANL</abbr>
    </h4>
  </address>
  <div>
    <p>
      Rubén Alexis Cruz Quiñones
      <a href="https://github.com/orgs/PIA-FDW/people/Cross-87"
        ><ion-icon name="logo-github"></ion-icon
      ></a>
    </p>
    <p>
      Kevin Israel Moreno Cura
      <a href="https://github.com/orgs/PIA-FDW/people/keevin1410"
        ><ion-icon name="logo-github"></ion-icon
      ></a>
    </p>
    <p>
      Ángel Saúl Davalos Frausto
      <a href="https://github.com/orgs/PIA-FDW/people/SaulDavalos"
        ><ion-icon name="logo-github"></ion-icon
      ></a>
    </p>
    <p>
      Emilio David Pedraza Macías
      <a href="https://github.com/orgs/PIA-FDW/people/EDPM01"
        ><ion-icon name="logo-github"></ion-icon
      ></a>
    </p>
    <p>
      Jessica
      <a href="#"><ion-icon name="logo-github"></ion-icon></a>
    </p>
  </div>
</footer>
