{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desserts - Los más pedidos</title>
    <link rel="stylesheet" href="{% static 'css/top.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    {% include 'header.html' %}

    <main>
      <h1>Los más pedidos</h1>
      <p>
        ¡Bienvenidos a nuestra sección de los productos más populares de nuestra
        pastelería! En esta página, encontrarás una selección de nuestros
        postres más deliciosos y demandados por nuestros clientes.
      </p>
      <section>
        {% for producto in productos %}
        <article>
          <h2>{{ producto.Nombre }}</h2>
          <span>Stock: {{ producto.Cantidad }}</span>
        </article>
        {% endfor %}
      </section>
    </main>

    {% include 'footer.html' %}

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
